{% extends "index.html" %}

{% load static %}

{% block title %}Invoice{% endblock %}

{% block script %}
    <script src="{% static 'js/cart.js' %}"></script> 
{% endblock %}

{% block start %}
<div class="collapse navbar-collapse" id="mainNavBar">
    <div class="col-md-6">
      <ul class="nav navbar-nav navbar-lelf">
        <li><a href="{% url "index" %}"><span class="glyphicon glyphicon-calendar"></span> &nbsp; Check Status Room</a></li>
        <li><a href="{% url "reserve" %}"><span class="glyphicon glyphicon-briefcase"></span> &nbsp; Reservation</a></li>
        <li><a href="{% url "total_payment" %}"><span class="glyphicon glyphicon-shopping-cart"></span> &nbsp; Cart</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <center>
            <h1><span class="glyphicon glyphicon-shopping-cart"></span> Hotel Room Cart</h1>
        </center>
    </div>
    <br/>
    <div class="card" style="max-width: 500rem;">
        <div class="row" style="font-size:18px;">
            <div class="container" style="max-width:1000px;">
                <table id="cart" class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th style="width:10%">Room Type</th>
                            <th style="width:15%">Check-In</th>
                            <th style="width:15%">Check-Out</th>
                            <th style="width:15%">Extra Bed</th>
                            <th style="width:15%" class="text-center">No. Adult</th>
                            <th style="width:15%" class="text-center">No. Child</th>
                            <th style="width:15%" class="text-center">No. Room</th>
                            <th style="width:40%" class="text-center">Total Price</th>
                            <th style="width:5%"></th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 18px;">
                        {% for r in reservation %}
                        <tr id={{r.booking_id}}>
                            <td data-th="Room">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h4 class="nomargin">{{ r.room_type_id }}</h4>
                                    </div>
                                </div>
                            </td>
                            <td data-th="check_in">{{r.check_in}}</td>
                            <td data-th="check_out">{{r.check_out}}</td>
                            <td data-th="extra_bed">{{r.extra_bed}}</td>
                            <td data-th="no_adult" class="text-center">{{r.no_adult}}</td>
                            <td data-th="no_child" class="text-center">{{r.no_child}}</td>
                            <td data-th="no_room" class="text-center">{{r.no_room}}</td>
                            <td data-th="totalprice" class="text-center">{{r.total_price}}</td>
                            <td id='delete_containers' class="actions" data-th="">
                                <button  data-bookingid={{r.booking_id}} class="delete_cart"><i class="fa fa-trash-o"></i></button>								
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr class="visible-xs">
                            <td class="text-center"><strong>Total</strong></td>
                        </tr>
                        <tr>
                            <td><a href="{% url "index" %}" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Booking</a></td>
                            <td colspan="{% url "index" %}" class="hidden-xs"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="hidden-xs text-center"><strong>Total
                                <td data-th="Subtotal">
                                    <input type="text" class="form-control text-center" style="max-width: 100px;" placeholder="total" readonly>
                                </td>
                            </strong></td>
                            
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="col-lg-12" style="font-size: 16px;">
        <div class="card">
            <div class="row">
                <h1>Pay Now</h1>
                <br/>
                <div class="col-lg-3 radio-group">
                    <div class="row d-flex px-2 radio"> <img class="pay" src="https://i.imgur.com/WIAP9Ku.jpg">
                        <p class="my-auto">Credit Card</p>
                    </div>
                    <div class="row d-flex px-2 radio gray"> <img class="pay" src="https://i.imgur.com/OdxcctP.jpg">
                        <p class="my-auto">Debit Card</p>
                    </div>
                    <div class="row d-flex px-2 radio gray mb-2"> <img class="pay" src="{% static './img/dollar.png' %}">
                        <p class="my-auto">Cash</p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="row px-2">
                        <div class="form-group col-md-6"> <label class="form-control-label">Name on Card</label> <input type="text" id="cname" name="cname" placeholder="Natchapooo Pataa"> </div>
                        <div class="form-group col-md-6"> <label class="form-control-label">Card Number</label> <input type="text" id="cnum" name="cnum" placeholder="1111 2222 3333 4444"> </div>
                    </div>
                    <div class="row px-2">
                        <div class="form-group col-md-6"> <label class="form-control-label">Expiration Date</label> <input type="text" id="exp" name="exp" placeholder="MM/YYYY"> </div>
                        <div class="form-group col-md-6"> <label class="form-control-label">CVV</label> <input type="text" id="cvv" name="cvv" placeholder="***"> </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-2" style="font-size: 19px;">
                    <div class="row d-flex justify-content-between px-4">
                        <p class="mb-1 text-left">Subtotal</p>
                        <h6 class="mb-1 text-right" style="font-size: 16px;"><input type="text" class="form-control text-right" style="max-width:400px;" placeholder="฿1500" readonly></h6>
                    </div>
                    <div class="row d-flex justify-content-between px-4">
                        <p class="mb-1 text-left">TAX 7%</p>
                        <h6 class="mb-1 text-right" style="font-size: 16px;"> <input type="text" class="form-control text-right" style="max-width:400px;" placeholder="฿120" readonly> </h6>
                    </div>
                    <div class="row d-flex justify-content-between px-4" id="tax">
                        <p class="mb-1 text-left">Total (tax included)</p>
                        <h6 class="mb-1 text-right" style="font-size: 16px;"> <input type="text" class="form-control text-right" style="max-width:400px;" placeholder="฿1620" readonly></h6>
                    </div> <button class="btn-block btn-blue" style="max-width: 500px;"> <span> <span id="checkout">Confirm Booking</span> <span id="check-amt">฿1620</span> </span> </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){

    $('.radio-group .radio').click(function(){
    $('.radio').addClass('gray');
    $(this).removeClass('gray');
    });

    $('.plus-minus .plus').click(function(){
    var count = $(this).parent().prev().text();
    $(this).parent().prev().html(Number(count) + 1);
    });

    $('.plus-minus .minus').click(function(){
    var count = $(this).parent().prev().text();
    $(this).parent().prev().html(Number(count) - 1);
    });

    });
</script>
<script src="{% static 'js/cart.js' %}"></script> 

<style>
    body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #fff;
    background-repeat: no-repeat
    }
    
    .plus-minus {
        position: relative
    }
    
    .plus {
        position: absolute;
        top: -4px;
        left: 2px;
        cursor: pointer
    }
    
    .minus {
        position: absolute;
        top: 8px;
        left: 5px;
        cursor: pointer
    }
    
    .vsm-text:hover {
        color: #FF5252
    }
    
    .book,
    .book-img {
        width: 120px;
        height: 180px;
        border-radius: 5px
    }
    
    .book {
        margin: 20px 15px 5px 15px
    }
    
    .border-top {
        border-top: 1px solid #EEEEEE !important;
        margin-top: 20px;
        padding-top: 15px
    }
    
    .card {
        margin: 40px 0px;
        padding: 40px 50px;
        border-radius: 20px;
        border: none;
        box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2)
    }
    
    input,
    textarea {
        background-color: #f1ff92;
        padding: 8px 15px 8px 15px;
        width: 100%;
        border-radius: 5px !important;
        box-sizing: border-box;
        border: 1px solid #f1ff92;
        font-size: 15px !important;
        color: #000 !important;
        font-weight: 300
    }
    
    input:focus,
    textarea:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid #9FA8DA;
        outline-width: 0;
        font-weight: 400
    }
    
    button:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline-width: 0
    }
    
    .pay {
        width: 80px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #673AB7;
        margin: 10px 20px 10px 0px;
        cursor: pointer;
        box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2)
    }
    
    .gray {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        filter: grayscale(100%);
        color: #E0E0E0
    }

    .gray .pay {
        box-shadow: none
    }
    
    #tax {
        border-top: 1px lightgray solid;
        margin-top: 10px;
        padding-top: 10px
    }
    
    .btn-blue {
        border: none;
        border-radius: 10px;
        background-color: #ffb700 ;
        color: #fff;
        padding: 8px 15px;
        margin: 20px 0px;
        cursor: pointer
    }
    
    .delete_cart {
        background-color: #eb0c0c;
        color: #fff;
        padding: 5px;
    }

    .btn-blue:hover {
        background-color: #ffae00;
        color: #fff
    }
    
    #checkout {
        float: left
    }
    
    #check-amt {
        float: right
    }
    
    @media screen and (max-width: 768px) {
    
        .book,
        .book-img {
            width: 100px;
            height: 150px
        }
    
        .card {
            padding-left: 15px;
            padding-right: 15px
        }
    
        .mob-text {
            font-size: 13px
        }
    
        .pad-left {
            padding-left: 20px
        }
    }
</style>
    
{% endblock start %}