{% extends "user/index.html" %}
{% load crispy_forms_tags %}
{% block start %}

<div class="content-section col-md-8 col-md-offset-2">
  <center><h2>Register</h2></center>
  <form method="POST" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;">
    {% csrf_token %}
    <fieldset class="form-group">
      {{ form|crispy}}
    </fieldset>
    <center>
      <button style=" padding:2%; font-size: 2rem; color:black;" class="btn btn-outline-dark" type="submit"><span class="glyphicon glyphicon-check"></span> &nbsp; sign up</button>
    </center>
    <br />
    <center><sub><a href="{% url "login" %}" style="font-size:small; text-decoration: none; color:rgb(70, 70, 70); padding:3%; cursor:pointer;">Already have an account ?</a></sub></center>
  </form>
</div>
{% endblock start %}
