{% extends 'index.html' %}
{% load static %}

{% block title %}receipt{% endblock %}

{% block script %}
<script src="{% static 'js/receipt.js' %}"></script>
{% endblock %}

{% block start %}
<div class="collapse navbar-collapse" id="mainNavBar">
    <div class="col-md-6">
        <ul class="nav navbar-nav navbar-lelf">

            <li><a href="{% url "receipt" %}"><span class="glyphicon glyphicon-th"></span> &nbsp; Receipt Forms</a></li>
        </ul>
    </div>
</div>
</div>
<div class="container">
    <div class="card">
        <div class="row">
            <bold />
            <h1>Receipt Form</h1>
            <ul class="nav navbar-nav navbar-lelf">
                <li><a id="new" href="#"><span class="glyphicon glyphicon-list-alt" id="new"></span> &nbsp; New</a></li>
                <li><a href="#"> <select id="inputState"
                            class="form-control" style="max-width :600px;">
                            <option selected>Edit</option>
                            {% for receipt in receipts %}
                            <option >{{ receipt.receipt_no }}</option>
                         
                            {% endfor %}
                        </span>
                        </select></a></li>
                <li><a id="save" href="#"><span class="glyphicon glyphicon-floppy-save" id="save"></span> &nbsp; Save</a></li>
                <li><a id="delete" href="#"><span class="glyphicon glyphicon-trash" id="delete"></span> &nbsp; Delete</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-file" id="pdf"></span> &nbsp; PDF</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-6">
                Receipt No <span style="color: red;"> *</span> : <input type="text" id="receipt_no" name="receipt_no"
                    style="max-width:250px;;" class="form-control" placeholder="new" readonly />
            </div>
            <div class="col-md-6">
                Receipt Date <span style="color: red;"> *</span> : <input type="text" id="receipt_date"
                    name="receipt_date" style="max-width : 250px;" class="form-control" placeholder="Fri Dec 11 2020" />
                <script type="text/javascript">new Pikaday({ field: document.getElementById('receipt_date') });</script>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                Guest Account ID <span style="color: red;"> *</span> :
                <input type="text" id="guest_account_id" name="guest_account_id" style="max-width:250px;;"
                    class="form-control" placeholder="001" required />
            </div>

            <div class="col-md-6">
                Guest Name :
                <input type="text" id="guest_name" name="guest_name" style="max-width:250px;" class="form-control"
                    placeholder="Natchapoooo Patamawisuttooo" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                Payment Method <span style="color: red;"> *</span> :
                <input type="text" id="payment_method" name="payment_method" style="max-width:250px;;"
                    class="form-control" placeholder="CC" required />
            </div>

            <div class="col-md-6">
                Payment Reference :
                <input type="text" id="payment_reference" name="payment_reference" style="max-width:250px;;"
                    class="form-control" placeholder="Credit Card" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                Total Received :
                <input type="text" id="total_received" name="total_received" style="max-width:250px;;"
                    class="form-control" placeholder=" ฿xxxx" />
            </div>
            <div class="col-md-4">
                Remarks:
                <input type="text" id="remarks" name="remarks" style="max-width:250px;;" class="form-control"
                    placeholder="remarks" required />
            </div>
        </div>
        <br />


    </div>
</div>





<style>
    .card {
        margin: 40px 0px;
        padding: 40px 50px;
        border-radius: 20px;
        border: none;
        box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2)
    }

    .bg-modal {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        /* make it half transparent */
        position: absolute;
        top: px;
        z-index: 1;
        display: none;
        /* It will remain invisible until you open */
        justify-content: center;
        /*center horizontally*/
        align-items: center;
        /* center vertically */
    }

    .modal-content {
        width: 600px;
        height: 300px;
        background-color: white;
        border: none;
        border-radius: 15px;
        padding: 15px;
        position: relative;
    }

    .close {
        position: absolute;
        top: 5px;
        right: 14px;
        font-size: 25px;
        transform: rotate(45deg);
        /* will make it look like x */
        cursor: pointer;
    }
</style>
<script type="text/javascript">
    $('#modal_button').click(function () {

        $(".bg-modal”").css({ display: "block !important" });
        console.log('bbbbbbbbbbbbbb')
    });




    function validateForm() {
        if (isEmpty(document.getElementById('invoice_date').value.trim())) {
            alert('invoice_date is required!');
            return false;
        }
        return true;
    }
    function isEmpty(str) { return (str.length === 0 || !str.trim()); }
    function validateEmail(email) {
        var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,15}(?:\.[a-z]{2})?)$/i;
        return isEmpty(email) || re.test(email);
    }
</script>
<script src="{% static 'js/receipt.js' %}"></script>
{% endblock start %}