{% load static %}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/glyphicon.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/cpe.css' %}">
    <title>{% block title %}{% endblock %}</title>

    {% block script %}
    {% endblock %} 
<body>
    <ul class="nav bg-dark">
        <li><a href='#'>{% block title_name %}{% endblock %}</a></li>
    </ul>
    {% block sub_menu %}
    {% endblock %}

    {% block content %}
    {% endblock %}
</body>
</html>