{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="title" content="project">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="author" content="vinayak sharma">

  <title>Lay View Hotel</title>
  <link rel="icon" type="image/png" href="{% static 'img/logo.ico' %}" />


  <!-- bootstrap file -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <!-- bootstrap file-->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- jQuery -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">

  <!-- reference your copy Font Awesome here (from our CDN or by hosting yourself) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/glyphicon.css' %}">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />

  <!-- main css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />

  <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
  <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />


  <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.4.0/pikaday.min.js" type="text/javascript"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.4.0/css/pikaday.min.css" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="path/to/css/smart-forms.css">


  <!-- message here -->

  {% if messages %}
  {% for message in messages %}

  <script>
    alert("{{ message }}");
  </script>

  {% endfor %}
  {% endif %}

</head>

<body class="container-fluid">
  <header class="row">
    <!-- navbar-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" class="styleheader" href="{% url "index" %}">  
            <span class="fa fa-building "></span>  Lay View Hotel</a>
        </div>
        
        <div class="collapse navbar-collapse" id="mainNavBar">
          <ul class="nav navbar-nav navbar-right">
            
            {% if user.is_authenticated %}
            <li><a href="{% url "index" %}"><span class="glyphicon glyphicon-home"></span> &nbsp;Home</a></li>
            <li><a href="{% url "logout" %}"><span class="glyphicon glyphicon-log-out"></span> &nbsp; Log out</a></li>
            {% else %}
            <li><a href="{% url "index" %}"><span class="glyphicon glyphicon-home"></span> &nbsp;Home</a></li>
            <li><a href="{% url "register" %}"><span class="glyphicon glyphicon-user"></span> &nbsp; Register</a></li>
            <li><a href="{% url "login" %}"><span class="glyphicon glyphicon-log-in"></span> &nbsp; Log in</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>
  
  <br/>
  <br/>
  <br/>
  <div class="row">
    {% block start %}
    {% if user.is_authenticated %}
    <header class="row">
      <!-- navbar-->
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" class="styleheader" href="{% url "index" %}">  
              <span class="fa fa-building "></span>  Lay View Hotel</a>
          </div>
          <div class="collapse navbar-collapse" id="mainNavBar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url "index" %}"><span class="glyphicon glyphicon-home"></span> &nbsp;Home</a></li>
              <li><a href="{% url "logout" %}"><span class="glyphicon glyphicon-log-out"></span> &nbsp; Log out</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="collapse navbar-collapse" id="mainNavBar">
      <div class="col-md-6">
        <ul class="nav navbar-nav navbar-lelf">
          <li><a href="{% url "index" %}"><span class="glyphicon glyphicon-calendar"></span> &nbsp; Check Status Room</a></li>
          <li><a href="{% url "reserve" %}"><span class="glyphicon glyphicon-briefcase"></span> &nbsp; Reservation</a></li>
          <li><a href="{% url "total_payment" %}"><span class="glyphicon glyphicon-shopping-cart"></span> &nbsp; Cart</a></li>
        </ul>
      </div>
    </div>
  </div>


  <div class = "container" style="font-size: 20px;">
    <div class="row">
      <div class="col-md-12">
        <div class="box-shadow-full">
          <br/>
          <h1>Lay View Hotel</h1>
          <div class="row">
            <div class="col-md-4">
              <h4>Check-in : </h4><input id="check_in"  name="check_in" width="300" value={{ check_in }}/>
            </div>
            <div class="col-md-4">
             
              <h4>Check-out : </h4><input id="check_out" name="check_out" width="300" value={{ check_out }}/>
            </div>
            <br/>
            <div class="col-md-4">
              <button font-size: 2rem; padding:10%; class="btn btn-outline-dark" id="btn_searchnow" type="submit" name="search_now" >
                <span class="glyphicon glyphicon-search"></span> &nbsp; Search now
              </button>
            </div>
            <br/> 
            <br/>
            <br/>
            <br/>
          </div>
          <script>
            var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
            
            $('#check_in').datepicker({
                minDate: today,
                maxDate: function () {
                    return $('#check_out').val();
                }
            });
            $('#check_out').datepicker({
                minDate: function () {
                  return $('#check_in').val();
                }
            });
          </script>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
      <table class="table">
        <tr>
          <th>Room Type</th>
          <th>Room Status</th>
          <th>Available Rooms</th>
          <th>Rating</th>
          <th>Price</th>
          <th></th>
        </tr>
        <tbody>
          <tr>
            <td>
              <img src="{% static 'img/single/single4.jpg' %}" width="310" height="300"/>
              <h4>Single Room</h4>
            </td>
            <td data-th="Room Status">
              <input id="txt_singlestatus" type="text" class="form-control text-center" style="max-width:150px;" placeholder="Available / Full" value="" readonly>
            </td>
            <td data-th="Available Rooms">
              <input id="txt_singleavailable" type="text" class="form-control text-center" style="max-width:150px;" placeholder="0-4 room" value="" readonly>
            </td>
            <td>
              <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
              <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
              <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
              <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
              <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
            </td>
            <td id="txt_singleprice"></td>
            <td>
              <a href="{% url "single" %}"><button font-size: 2rem; padding:1%; class="btn btn-warning" type="submit" name="booking">
              <span class="glyphicon glyphicon-plus"></span> &nbsp; Read more</button></a>
            </td>
          </tr>
          <tr>
            <td>
              <img src="{% static 'img/double/double4.jpg' %}" width="310" height="300"/>
              <h4>Double Room</h4>
            </td>
            <td data-th="Room Status">
              <input id="txt_doublestatus" type="text" class="form-control text-center" style="max-width:150px;" placeholder="Available / Full" readonly>
            </td>
            <td data-th="Available Rooms">
              <input id="txt_doubleavailable" type="text" class="form-control text-center" style="max-width:150px;" placeholder="0-4 room" readonly>
            </td>
            <td>
              <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
              <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
              <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
              <span class="fa fa-star checked" ></span>
              <span class="fa fa-star checked" ></span>
            </td>
            <td id="txt_doubleprice"></td>
            <td>
              <a href="{% url "double" %}"><button font-size: 2rem; padding:1%; class="btn btn-warning" type="submit" name="booking">
              <span class="glyphicon glyphicon-plus"></span> &nbsp; Read more</button></a>
            </td>
          </tr>
          <tr>
            <td>
              <img src="{% static 'img/suite/suite4.jpg' %}" width="310" height="300"/>
              <h4>Suite Room</h4>
            </td>
            <td data-th="Room Status">
              <input id="txt_suitestatus" type="text" class="form-control text-center" style="max-width:150px;" placeholder="Available / Full" readonly>
            </td>
            <td data-th="Available Rooms">
              <input id="txt_suiteavailable" type="text" class="form-control text-center" style="max-width:150px;" placeholder="0-4 room" readonly>
            </td>
            <td>
              <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
              <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
              <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
              <span class="fa fa-star checked" ></span>
              <span class="fa fa-star checked" ></span>
            </td>
            <td id="txt_suiteprice"></td>
            <td>
              <a href="{% url "suite" %}"><button font-size: 2rem; padding:1%; class="btn btn-warning" type="submit" name="booking">
                <span class="glyphicon glyphicon-plus"></span> &nbsp; Read more</button></a>
            </td>
          </tr>
          <tr>
            <td>
              <img src="{% static 'img/deluxe/deluxe4.jpg' %}" width="310" height="300"/>
              <h4>Deluxe Room</h4>
            </td>
            <td data-th="Room Status">
              <input id="txt_deluxestatus" type="text" class="form-control text-center" style="max-width:150px;" placeholder="Available / Full" readonly>
            </td>
            <td data-th="Available Rooms">
              <input id="txt_deluxeavailable" type="text" class="form-control text-center" style="max-width:150px;" placeholder="0-4 room" readonly>
            </td>
            <td>
              <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
              <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
              <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
              <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
              <span class="fa fa-star checked" ></span>
            </td>
            <td id="txt_deluxeprice"></td>
            <td>
              <a href="{% url "deluxe" %}"><button font-size: 2rem; padding:1%; class="btn btn-warning" type="submit" name="booking">
                <span class="glyphicon glyphicon-plus"></span> &nbsp; Read more</button></a>
            </td>
          </tr>
          <tr>
            <td>
              <img src="{% static 'img/premier/premier4.jpg' %}" width="310" height="300"/>
              <h4>Premier Room</h4>
            </td>
            <td data-th="Room Status">
              <input id="txt_premierstatus" type="text" class="form-control text-center" style="max-width:150px;" placeholder="Available / Full" readonly>
            </td>
            <td data-th="Available Rooms">
              <input id="txt_premieravailable" type="text" class="form-control text-center" style="max-width:150px;" placeholder="0-4 room" readonly>
            </td>
            <td>
              <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
              <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
              <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
              <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
              <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
            </td>
            <td id="txt_premierprice"></td>
            <td>
              <a href="{% url "premier" %}"><button font-size: 2rem; padding:1%; class="btn btn-warning" type="submit" name="booking">
                <span class="glyphicon glyphicon-plus"></span> &nbsp; Read more</button></a>
            </td>
          </tr>
        </tbody>
      </table>
      <script src="{% static 'js/check.js' %}"></script> 
    </div>
  {% else %}
  <br/>
  <br/>
  <div class = "container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <br/> 
          <br/>
          <h1>Lay View Hotel</h1>
          <br/>
          <div class="col">
            
            <div class="col-md-4">
              <h4>Check-in : </h4><input id="check_in"  name="check_in" width="300" value={{ check_in }} />
            </div>
            <div class="col-md-4">
              <h4>Check-out : </h4><input id="check_out" name="check_out" width="300" value={{ check_out }} />
            </div>
            
            <div class="col-md-4">
              <button id="btn_searchnow" style="font-size: 2rem; margin-top:7%;" class="btn btn-outline-dark" type="submit" name="search_now" >
                <span class="glyphicon glyphicon-search"></span> &nbsp; Search now
              </button>
            </div>
            <br/> 
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
          </div>
          <script>
            var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
            $('#check_in').datepicker({
                minDate: today,
                maxDate: function () {
                    return $('#check_out').val();
                }
            });
            $('#check_out').datepicker({
                minDate: function () {
                  return $('#check_in').val();
                }
            });
          </script>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="container">
    <table class="table">
      <tr>
        <th>Room Type</th>
        <th>Room Status</th>
        <th>Available Rooms</th>
        <th>Rating</th>
        <th>Price</th>
      </tr>
      <tbody>
        
        <tr>
          <td>
            <img src="{% static './img/single/single4.jpg' %}" width="310" height="300"/>
            <h4>Single Room</h4>
          </td>
          <td data-th="Room Status">
            <input id="txt_singlestatus" type="text" class="form-control text-center" style="max-width:150px;" placeholder="Available / Full" readonly>
          </td>
          <td data-th="Available Rooms">
            <input id="txt_singleavailable" type="text" class="form-control text-center" style="max-width:150px;" readonly>
          </td>
          <td>
            <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
            <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
            <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
            <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
            <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
          </td>
          <td id="txt_singleprice"></td>
        </tr>
        
        <tr>
          <td>
            <img src="{% static './img/double/double4.jpg' %}" width="310" height="300"/>
            <h4>Double Room</h4>
          </td>
          <td data-th="Room Status">
            <input id="txt_doublestatus" type="text" class="form-control text-center" style="max-width:150px;" placeholder="Available / Full" readonly>
          </td>
          <td data-th="Available Rooms">
            <input id="txt_doubleavailable" type="text" class="form-control text-center" style="max-width:150px;"  readonly>
          </td>
          <td>
            <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
            <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
            <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
            <span class="fa fa-star checked" ></span>
            <span class="fa fa-star checked" ></span>
          </td>
          <td id="txt_doubleprice"></td>
        </tr>
        
        <tr>
          <td>
            <img src="{% static './img/suite/suite4.jpg' %}" width="310" height="300"/>
            <h4>Suite Room</h4>
          </td>
          <td data-th="Room Status">
            <input id="txt_suitestatus" type="text" class="form-control text-center" style="max-width:150px;" placeholder="Available / Full" readonly>
          </td>
          <td data-th="Available Rooms">
            <input id="txt_suiteavailable" type="text" class="form-control text-center" style="max-width:150px;"  readonly>
          </td>
          <td>
            <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
            <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
            <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
            <span class="fa fa-star checked" ></span>
            <span class="fa fa-star checked" ></span>
          </td>
          <td id="txt_suiteprice"></td>
        </tr>
        
        <tr>
          <td>
            <img src="{% static './img/deluxe/deluxe4.jpg' %}" width="310" height="300"/>
            <h4>Deluxe Room</h4>
          </td>
          <td data-th="Room Status">
            <input id="txt_deluxestatus" type="text" class="form-control text-center" style="max-width:150px;" placeholder="Available / Full" readonly>
          </td>
          <td data-th="Available Rooms">
            <input id="txt_deluxeavailable" type="text" class="form-control text-center" style="max-width:150px;" placeholder="0-4 room" readonly>
          </td>
          <td>
            <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
            <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
            <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
            <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
            <span class="fa fa-star checked" ></span>
          </td>
          <td id="txt_deluxeprice"></td>
        </tr>
        
        <tr>
          <td>
            <img src="{% static './img/premier/premier4.jpg' %}" width="310" height="300"/>
            <h4>Premier Room</h4>
          </td>
          <td data-th="Room Status">
            <input id="txt_premierstatus" type="text" class="form-control text-center" style="max-width:150px;" placeholder="Available / Full" readonly>
          </td>
          <td data-th="Available Rooms">
            <input id="txt_premieravailable"  type="text" class="form-control text-center" style="max-width:150px;"  readonly>
          </td>
          <td>
            <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
            <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
            <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
            <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
            <span class="fa fa-star checked" style="color: rgb(255, 235, 80);"></span>
          </td>
          <td id="txt_premierprice"></td>
        </tr>
        
      </tbody>
    </table>
    <script src="{% static 'js/check.js' %}"></script>
  </div>
  {% endif %}
  {% endblock %}
</div>
</body>

</html>
