{% extends "index.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}login{% endblock %}

{% block script %}
    <!-- <script src="{% static 'js/...' %}"></script> -->
{% endblock %}


{% block start %}
 <br/>
 <div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="box-shadow-full">
        <div class="row">
          <div class="col-md-6">
            <div class="about-me pt-4 pt-md-0">
              <div class="title-box-2">
                <form action="/search_now/" method="POST"  style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;">
                  {% csrf_token %}
                  <center><img src="{% static './img/logo1.png' %}" width="320" height="100"/> </center>
                  <br/>
                  <br/>
                  <div class="row">
                    <h4>Room Type<span style="color: red;"> *</span> : </h4>
                    <select id="inputState" class="form-control" style="max-width :600px;">
                      <option selected>Choose...</option>
                      <option>Single Room</option>
                      <option>Double Room</option>
                      <option>Suite Room</option>
                      <option>Deluxe Room</option>
                      <option>Premier Room</option>
                    </select>
                  </div>
                  <br/>
                  <div class="row">
                    <h4>Check-in : </h4> <input id="check_in" type="text" name="check_in" width="420" />
                    <h4>Check-out : </h4> <input id="check_out" type="text"  name="check_out" width="420" />
                  </div>
                  <br/>
                  <br/>
                  <center>
                    <button font-size: 2rem; padding:1%; class="btn btn-outline-dark" type="submit" name="search_now">
                    <span class="glyphicon glyphicon-search"></span> &nbsp; Search now</button>
                  </center>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <script>
                      var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
                      $('#check_in').datepicker({
                          check_out: today,
                          maxDate: function () {
                              return $('#check_out').val();
                          }
                      });
                      $('#check_out').datepicker({
                          minDate: function () {
                              return $('#check_in').val();
                          }
                      });
                  </script>
                </form>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="about-me pt-4 pt-md-0">
              <div class="title-box-2">
                <form action="/login/" method="POST" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;">
                  <center><img src="{% static './img/signin.png' %}"/></center>
                  <br/>
                  {% csrf_token %}
                  <fieldset class="form-group">
                  {{ form|crispy}}
                  </fieldset>
                  <div class="form-group form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox"> Remember me
                    </label>
                  </div>
                  <br/>
                  <center>
                    <button font-size: 2rem; padding:1%; class="btn btn-outline-dark" type="submit">
                      <span class="glyphicon glyphicon-log-in"></span> &nbsp; Log in</button>
                  </center>
                  <br/>
                  <br/>
                  <center>
                    <sub style="text-align: left;"><a href="{% url 'register' %}" style="font-size: small; text-decoration: none; color:grey; padding:2%; cursor:pointer; margin-right:2%;">don't have account, Register </a></sub>
                  </form>
                </center>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>

{% endblock start %}
